input
{
width:300px;
}

.jumbotron {
position: relative;
padding: 40px 0;
color: white;
text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4),0 0 30px rgba(0, 0, 0, 0.075);
background: #020031;
background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6D3353));
background: -webkit-linear-gradient(45deg, #020031 0%, #6D3353 100%);
background: -o-linear-gradient(45deg, #020031 0%, #6D3353 100%);
background: -ms-linear-gradient(45deg, #020031 0%, #6D3353 100%);
background: linear-gradient(45deg, #020031 0%, #6D3353 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2),inset 0 -3px 7px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.2),inset 0 -3px 7px rgba(0,0,0,0.2);
box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2),inset 0 -3px 7px rgba(0, 0, 0, 0.2);
}

p {
margin: 0 0 10px;
display: inline-block;
margin-right: 100px;
}

.row{
padding-left: 100px;
}

#container-form
{
margin-top:30px;
}

#submit-warning
{
color:grey;
}

.form-section
{
margin-bottom:10px;
}

#submit-container
{

text-align: left;
margin-left: 10px;
margin-bottom: 14px;
}

#form-section-3
{
margin-bottom:0px;
}

#submit-warning
{
margin-top:5px;
}

#help-list
{
font-size:16px;
line-height:16px;
}

#help-list i
{
margin-right:4px;
}

#external-address
{
display:none;
}

h2 {
color:white;
}