body
{
color:white;
}

#round-index
{
position:fixed;
bottom:30px;
left:20px;
display:inline-block;
}

#question-index
{
position:fixed;
top:30px;
right:20px;
display:inline-block;
}

#module-index
{
bottom:30px;
position:fixed;
right:20px;
display:inline-block;
}

#count-index
{
top:30px;
position:fixed;
left:20px;
display:inline-block;
}

#text-float{
transition: background-color 0.5s;
-webkit-transition: background-color 0.5s; /* Safari */
}


#text-float.roundStart
{
background-color:rgba(0,255,0,0.5);
}